h1 {
  text-align: center;
}
button {
  width: 130px;
  margin-left: 890px;
}
.cel {
  display: inline-block;
  width: 180px;
  height: 30px;
  border: 1px solid color black;
  border-radius: 8px;
  text-align: center;
}
.sfondo {
  color: aqua;
}
